div{
    text-align: center;
}
/*a{
    background-color: rgb(193, 221, 174);
}*/
p{
    text-align: center;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
h3{
    text-align:left;
}
h4{
    text-align: center;
}
footer{
    background-color: aquamarine;
}
#suc{text-align: left;}


